body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #16001f;
    color: white;
    line-height: 1.6;
}

header {
    background-color: #250033;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #ff66c4;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #c77dff;
}

a {
    display: inline-block;
    color: white;
    background-color: #8e44ad;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #ff4db8;
}

input,
textarea {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    margin: 5px 0;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #c77dff;
    border-radius: 5px;
}

button {
    background-color: #ff4db8;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8e44ad;
}

footer {
    background-color: #250033;
    color: white;
    text-align: center;
    padding: 20px;
}
html  {
     scroll-behavior: smooth; 
}
